* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: #2A3131;
    font-size: 18px;
}

.page_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

h4 {
    margin: 2px 0;
    font-size: 22px;
}

a {
    text-decoration: none;
}

p {
    margin: 2px 0;
}

code {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 30px;
}

/* Header */

header {
    padding: 10px 0;
    min-height: 70px;
    background: #FFFFFF;
    box-shadow: 5px 5px 30px #2A3131;
    border-bottom: 5px solid #2A3131;
}

header a {
    color: #375E97;
    font-size: 18px;
}

header a:hover {
    color: #763626;
    font-weight: bold;
}

#branding {
    margin-bottom: 15px;
}

#branding a {
    font-size: 40px;
    font-weight: bold;
}

header p {
    font-weight: bold;
}

.header_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.contact {
    margin-top: 5px;
}

/* Global */
.container {
    width: 50%;
    margin: auto;
}

/* certifications */

li.unstyled {
    list-style-type: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2A3131;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 20px;
}

a.smooth_scroll {
    position: fixed;
    bottom: 25px;
    right: 5px;
    font-weight: bold;
}

a.smooth_scroll:visited {
    color: #375E97;
}

.card {
    margin-top: 15px;
    padding: 10px;
    box-shadow: 2px 2px 15px #2A3131;
    border-radius: 5px;
}

.project_links {
    margin: 15px 0;
}

.project_links a {
    padding: 7px;
    border-radius: 3px;
    background: #375E97;
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}