.single_project_parent_container {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.selectedStack {}

.single_project_title {
  color: navy;
  font-size: 20px;
  text-transform: capitalize;

  p {
    margin: 0;
  }
}

.single_project_meta {

  font-size: 12px;
  margin: 10px 0;

  p {
    margin: 0;
  }
}

.single_project_links {
  a {
    display: inline-block;
    margin-right: 5px;
    background-color: #eee;
    border-radius: 3px;
    padding: 2px 7px;
  }
}
