.publication_title {
  padding-right: 5px;
}

.title_date_container {
  display: grid;
  grid-template-columns: 3fr 1fr;

  p {
    margin-bottom: 0;
  }
}

.publication_date {
  text-transform: capitalize;
  font-size: 14px;
}
