.project-parent-accordion {
}

.project-card {
  border: none;

  .details-card {
    border: none;

    .details-card-body {
      padding: 0.25rem 3rem;
    }
  }

  .project-card-footer,
  .project-title {
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .project-title {
    // add a hover state later
    cursor: pointer;
  }
}

.badge-pill {
  margin-right: 0.5rem;
}

.modal-90w {
  width: 90%;
}

.single-certificate-view {
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
}

.middle-column-child {
  top: 4rem;
  z-index: 1000;
  padding: 2rem 0;
  overflow-y: scroll;
  max-height: calc(100vh - 4rem);
}

.left-column-child {
  top: 4rem;
  z-index: 1000;
  padding: 2rem 0;
  overflow-y: scroll;
  max-height: calc(100vh - 4rem);
}

.card {
  border: none;
}
