.project-parent-accordion {
}

.project-card {
  border: none;

  .details-card {
    border: none;

    .details-card-body {
      padding: 0.25rem 3rem;
    }
  }

  .project-card-footer,
  .project-title {
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .project-title {
    // add a hover state later
    cursor: pointer;
  }
}

.badge-pill {
  margin-right: 0.5rem;
}

.left-column {
  margin: 0;
  padding: 0;
}
