html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #0a58ca;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page_title {
  padding: 10px 0;
  color: midnightblue;
}
