html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #0a58ca;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page_title {
  padding: 10px 0;
  color: midnightblue;
}

.mb_5 {
  margin-bottom: 5px;
}

.pointer {
  cursor: pointer;
}

span.chip {
  font-size: 12px;
  padding: 2px 7px;
  border-radius: 10px;
  display: inline-block;
  margin: 3px 5px 3px 0;
}

.chip.blueBg {
  background-color: #07f;
  color: #fff;
}

.chip.lightGreyBg {
  background-color: #e8e8e8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.chip.greyBg {
  background-color: grey;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.chip.selected_stack {
  border: 1px solid gold;
}
